<html>
  <head>
    <meta charset="utf-8" />
    <title>Aaron Relph | Product Designer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    <div class="header">Aaron Relph</div>
    <div class="container">
      <p class="about">
        I’m Aaron, a Software Designer based in Los Angeles. Currently, I’m
        designing machine learning tools at
        <a href="https://baseten.co/">Baseten</a>. Before that I led enterprise
        design at <a href="https://github.com/">GitHub</a>, spent some time at
        <a href="https://gumroad.com/">Gumroad</a> and before that other places.
      </p>
    </div>
    <ul class="contact">
      <li>> <a href="https://github.com/relph" class="">GitHub</a></li>
      <li>> <a href="https://twitter.com/aaronrelph" class="">Twitter</a></li>
      <li>
        >
        <a href="https://www.linkedin.com/in/aaronrelph/" class="">LinkedIn</a>
      </li>
      <li>> <a href="mailto:aaronrelph@gmail.com" class="">Email</a></li>
    </ul>

    <section class="content">{{ content }}</section>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-151879557-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-151879557-1");
    </script>
  </body>
</html>
